<h3>Please Register</h3>

<form ng-submit="registration(user)">
  <div class="row">
    <div class="large-6 columns">
      <label>Create a User Name:
        <input type="text" ng-model="user.username"/>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Create a Password:
        <input type="password" ng-model="user.password"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Enter your Email:
        <input type="email" ng-model="user.email"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns" >
      <label>Street Address:
        <input type="text" ng-model="user.street" placeholder="20 Rockefeller Plaza" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>City:
        <input type="text" ng-model="user.city" placeholder="New York"/>
      </label>
    </div>
    <div class="large-2 columns" >
      <label>State:
        <input type="text" ng-model="user.state" placeholder="NY"/>
      </label>
    </div>
    <div class="large-2 columns">
      <label>Zip:
        <input type="text" ng-model="zipcode" placeholder="10020" />
      </label>
    </div>
  </div>
  <button>Add</button>
</form>
